apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: v1.11.0
metadata:
  name: 1.11-sample
api:
  advertiseAddress: {{ NODE_IP }}
networking:
  podSubnet: {{ POD_NETWORK_CIDR }}
controllerManagerExtraArgs:
  node-monitor-grace-period: "20s"
  pod-eviction-timeout: "40s"
