apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ NODE_IP }}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v1.15.3
apiServer:
  extraArgs:
    advertise-address: {{ NODE_IP }}
    default-not-ready-toleration-seconds: "20"
    default-unreachable-toleration-seconds: "20"
networking:
  podSubnet: {{ POD_NETWORK_CIDR }}
controllerManager:
  extraArgs:
    node-monitor-grace-period: "20s"
    pod-eviction-timeout: "40s"
