apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  ports:
    - port: 5432
      name: postgres
  selector:
    app: postgres

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  serviceName: "postgres"
  replicas: 1
  template:
    metadata:
      labels:
        app: postgres
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name: postgres
          image: {{ INSECURE_REGISTRY }}/postgres:9.6.10
          ports:
            - containerPort: 5432
              name: postgres
          volumeMounts:
            - name: db-volume
              mountPath: "/var/lib/postgresql/data"
      volumes:
        - name: db-volume
          nfs:
            server: {{ NFS_SERVER }}
            path: "/pgdata-postgres-statefulset"

### under development
###  need to more work for shareing nfs with multiple instances
#      volumes:
#        - name: db-volume
#          persistentVolumeClaim:
#            claimName: nfs

### from the official document; not working yet, fails to bind
#
#  volumeClaimTemplates:
#    - metadata:
#        name: db-volume
#      spec:
#        accessModes: [ "ReadWriteOnce" ]
#        storageClassName: ""
#        resources:
#          requests:
#            storage: 1Mi
